/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vs/
.DS_Store/
.idea/
tools/php-cs-fixer/vendor/
_ide_*.php
.php*.php
.php_*.cache
