@import "~intl-tel-input/build/css/intlTelInput.css";

.create-ad-btn {
    position: absolute;
    right: 0;
    margin-right: 25px;
}
.form-control {
    width: 50%;
}
.create-ad-from {
    margin-left: 25px;
}
.iti{ width: 100%;}
.iti__flag {background-image: url("../images/flags/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("../images/flags/flags@2x.png");}
}

.gmap {
    width:50%;
    height:220px;
    overflow:auto;
}
