@import 'variables';
@import 'mixins';

.content {
    padding-bottom: 10px;
}

.contact-text {
    @include contact-text
}
#map {
    display: block;
    width: 100%;
    height: 100%;
}

#map {
    background: #58B;
}

.map-container {
    width: 50px;
}

.map-content {
    margin-left: 50px;
}
